.DS_Store
**/.terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.rke2.yaml
.venv
rke2.yaml
clouds.yml
*.clouds.yml
venv
*.img
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
logs
.ruff_cache
